/* font icon   */
.icon {
  width: 50px;
  height: 50px;
  background: #4b284ffc;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: white;
}
.icon:hover {
  background: white;
  color: #468f46;
  cursor: pointer;
}
